@font-face {
    font-family: 'Norse Bold';
    src: url('files/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #282b30;
}

.container {
    width: 100%;
    height: 850px;
    display: flex;
}

.main {
    background: #282b30;
    width: 70%;
}

.splash {
    background-image: url('files/splash.avif');
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    width: 30%;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5);
    height : 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
}

.transparent > img {
    height: 100%;
}

.transparent > h3 {
    font-family: 'Norse Bold', sans-serif;
    font-size: 100px;
    color: white;
}